SECRET=supersekret
DEV_MONGODB_URI=mongodb://root:example@localhost:27017
DEV_AWS_ACCESS_KEY_ID=shootdropdev
DEV_AWS_SECRET_ACCESS_KEY=shootdropdev
DEV_S3_BUCKET=shootdrop
SENDGRID_API_KEY=todo!
SITE_ADMIN=admin@example.com
PORT=4000 