{
	"extends": [
		"next/core-web-vitals"
	],
	"plugins": [
		"testing-library"
	],
	"settings": {
		"next": {
			"rootDir": [
				"apps/*/",
				"packages/*/"
			],
		},
	},
	"rules": {
		"@next/next/no-html-link-for-pages": "off",
		"@next/next/no-img-element": "off",
		"react/no-unescaped-entities": "off",
		"react-hooks/exhaustive-deps": "off"

	},
	"overrides": [
		// Only uses Testing Library lint rules in test files
		{
			"files": [
				"**/__tests__/**/*.[jt]s?(x)",
				"**/?(*.)+(spec|test).[jt]s?(x)"
			],
			"extends": [
				"plugin:testing-library/react"
			]
		}
	]
}